<h4>this is footer</h4>
<script src="<%=process.env.BASE_URL%>/plugins/global/plugins.bundle.js"></script>
<script src="<%=process.env.BASE_URL%>/js/scripts.bundle.js"></script>
<!--end::Global Javascript Bundle-->
<!--begin::Page Custom Javascript(used by this page)-->
<script src="<%=process.env.BASE_URL%>/js/custom/authentication/sign-up/general.js"></script>
<!--end::Page Custom Javascript-->
<!--end::Javascript-->
</body>
<!--end::Body-->

</html>
